
<form method = "post" action = "" role = "form" enctype="multipart/form-data">
	 {% csrf_token %}
	 {{ form.as_p }}
		<button type="Submit"> Submit</button>
</form>

{% if myVar %}
	{% for var in myVar%}
	<h4>{{ var.noteText }}</h4><br>
	{% endfor %}
{% endif %}
<br>
<h3>Printing the shared notes</h3>
	{% for var in shared%}
		<h4>{{ var.noteText }}</h4><br>
	{% endfor %}
<br>
<br>
<h3>Text Search</h3>
{% if Anot %}
	{% for var in Anot%}
	<h4>{{ var.noteText }}</h4><br>
	{% endfor %}
{% endif %}
<br>
{% if Onemore %}
	{% for var in Onemore%}
	<h4>{{ var.noteText }}</h4><br>
	{% endfor %}
{% endif %}


<a href = '{%  url 'UserSignUp:mynotes' %}'>Create Notes</a>
<a href = '{% url 'UserSignUp:logout' %}'>Log Out</a>